<h2>Logout</h2>

<p>Logout işlemi başarıyla gerçekleştirildi.</p>

<script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        }, 2000); // 2 saniye sonra anasayfaya yönlendirme yapılıyor
</script>